@{
    ViewBag.Title = "Overzicht";
}

<h2>Welkom</h2>
<p>Welkom op ons platform. Hier kan u de kassa's en verenigingen beheren alsook logboeken bekijken van onze applicaties.</p>

<h2>Beheer</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Verenigingen</h4>
        <p><a class="btn btn-primary" href="/Vereniging/Index">bekijken</a></p>
    </div>
    <div class="col-md-4">
        <h4>Kassa's</h4>
        <p><a class="btn btn-primary" href="/Kassa/Index">bekijken</a></p>
    </div>
    <div class="col-md-4">
        <h4>Logboeken</h4>
        <p><a class="btn btn-primary" href="/Logboek/Index">bekijken</a></p>
    </div>
</div>>