@{
    ViewBag.Title = "Overzicht";
}

<h2>Welkom</h2>
<p>Welkom op ons platform. Hier kan u de kassa's en verenigingen beheren alsook logboeken bekijken van onze applicaties.</p>

<h2>Beheer</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Verenigingen</h4>
        <p>
            Op deze pagina zal u een overzicht te zien krijgen van de verschillende verenigingen.
            U kan ook verenigingen toevoegen/bewerken en de details opvragen.
        </p>
        <p><a class="btn btn-primary" href="/Vereniging/Index">Overzicht bekijken</a></p>
    </div>
    <div class="col-md-4">
        <h4>Kassa's</h4>
        <p>
            Op deze pagina zal u een overzicht te zien krijgen van de verschillende kassa's in een vereniging.
            U kan kassa's maken/toekennen/wijzigen aan een vereniging. Ook kan u een kassa's zoeken per vereniging.
        </p>
        <p><a class="btn btn-primary" href="/Kassa/Index">Overzicht bekijken</a></p>
    </div>
    <div class="col-md-4">
        <h4>Logboeken</h4>
        <p>
            Op deze pagina zal u logboeken met foutmeldingen en waarschuwingen kunnen bekijken van de kassa's.
        </p>
        <p><a class="btn btn-primary" href="/Logboek/Index">Overzicht bekijken</a></p>
    </div>
</div>>